<a href="https://colab.research.google.com/github/ddannybb25/python/blob/main/apply_lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import numpy as np
import pandas as pd

df=pd.DataFrame([[4,9],[1,4],[5,6]],columns=['A','B'])
df

   A  B
0  4  9
1  1  4
2  5  6

In [6]:
def plus_one(x):
    x+=1
    return x

In [7]:
df['A'].apply(plus_one)

0    5
1    2
2    6
Name: A, dtype: int64

In [24]:
df['A']=df['A'].apply(plus_one)
df['A']

0    5
1    2
2    6
Name: A, dtype: int64

In [10]:
df

   A  B
0  5  9
1  2  4
2  6  6

In [11]:
#데이터프레임 초기화
df=pd.DataFrame([[4,9],[1,4],[5,6]],columns=['A','B'])

In [12]:
#def로 만드는 것 대신 lambda로 만들려면 'lambda 입력값:결과값' 순으로 입력
df['A'].apply(lambda x:x+1) #lambda를 활용한 apply

0    5
1    2
2    6
Name: A, dtype: int64

In [13]:
df['A']=df['A'].apply(lambda x:x+1) #기존df변경

In [14]:
df

   A  B
0  5  9
1  2  4
2  6  6

In [15]:
df2=pd.DataFrame([[2,4,9],[3,1,4],[9,5,6]],columns=['A','B','C'])

In [16]:
df2.apply(plus_one) #정의한 함수를 apply에 적용

    A  B   C
0   3  5  10
1   4  2   5
2  10  6   7

In [17]:
df2.apply(lambda x:x+1) #lambda를 정의하여 apply에 적용 
#def로 만드는 것 대신 lambda로 만들려면 'lambda 입력값:결과값' 순으로 입력

    A  B   C
0   4  6  11
1   5  3   6
2  11  7   8

In [18]:
df3=pd.DataFrame([[2,3],[3,4]],columns=['A','B'])

In [20]:
df3

   A  B
0  2  3
1  3  4

In [19]:
df3.apply(lambda x:x+1)

   A  B
0  3  4
1  4  5

In [42]:
df=pd.DataFrame([[2,4,9],[3,1,4],[9,5,6]],columns=['A','B','C'])

In [47]:
#특정 컬럼에만 적용해보기
df[['A','C']]=df[['A','C']].apply(plus_one) #plus one은 def 함수로 적용

In [48]:
df[['A','C']]=df[['A','C']].apply(lambda x: x+2)
df[['A','C']]

    A   C
0   8  15
1   9  10
2  15  12

In [49]:
df.apply(np.sqrt) #numpy 함수와 다른 라이브러리의 연산함수들도 모두 apply에 적용

          A         B         C
0  2.828427  2.000000  3.872983
1  3.000000  1.000000  3.162278
2  3.872983  2.236068  3.464102

In [50]:
df.apply(lambda x:np.sqrt(x))

          A         B         C
0  2.828427  2.000000  3.872983
1  3.000000  1.000000  3.162278
2  3.872983  2.236068  3.464102