<a href="https://colab.research.google.com/github/ddannybb25/python/blob/main/apply_lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

df=pd.DataFrame([[4,9],[1,4],[5,6]],columns=['A','B'])
df

   A  B
0  4  9
1  1  4
2  5  6

In [ ]:
def plus_one(x):
    x+=1
    return x

In [ ]:
df['A'].apply(plus_one)

0    5
1    2
2    6
Name: A, dtype: int64

In [ ]:
df

   A  B
0  4  9
1  1  4
2  5  6

In [ ]:
df['A']=df['A'].apply(plus_one)

In [ ]:
df

   A  B
0  5  9
1  2  4
2  6  6

In [ ]:
#데이터프레임 초기화
df=pd.DataFrame([[4,9],[1,4],[5,6]],columns=['A','B'])

In [ ]:
#def로 만드는 것 대신 lambda로 만들려면 'lambda 입력값:결과값' 순으로 입력

df['A'].apply(lambda x:x+1) #lambda를 활용한 apply

0    5
1    2
2    6
Name: A, dtype: int64

In [ ]:
df['A']=df['A'].apply(lambda x:x+1) #기존df변경

In [ ]:
df

   A  B
0  6  9
1  3  4
2  7  6

In [ ]:
df=pd.