<a href="https://colab.research.google.com/github/ddannybb25/python/blob/main/dropna.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ref:https://wikidocs.net/153202

In [5]:
import pandas as pd
import numpy as np

In [7]:
df=pd.DataFrame({'name':['Alfred','Batman','Catwoman'],
                 'toy':[np.nan,'Batmobile','Bullwhip'],
                 'born':[pd.NaT,pd.Timestamp("1940-04-25"),
                         pd.NaT]})

df

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

**df.Dropna**: Drop the rows where at least one element is missing.

axis=0 : 행에 대해 결측치 제거 
axis=1 : 열에 대해 결측치 제거

In [8]:
df.dropna() #dropna는 결측치 있는 행 삭제

     name        toy       born
1  Batman  Batmobile 1940-04-25

In [10]:
df.dropna(axis=0) #결측값 들어있는 행 전체 삭제하기

     name        toy       born
1  Batman  Batmobile 1940-04-25

In [11]:
df.dropna(axis=1) #axis=1은 결측값이 들어있는 열 전체 삭제하기

       name
0    Alfred
1    Batman
2  Catwoman

**df.dropna(how)**

how = 'any' : 기본적으로 how는 any 이며 한 값이라도 Na를 가진다면 해당 레이블 제거

how= 'all' : 모든 값이 NA인 레이블만 삭제

In [23]:
col  = ['col1','col2','col3','col4','col5']
row  = ['row1','row2','row3','row4']
data = [[1,2,3,pd.NA,5],[6,pd.NA,8,pd.NA,10],[11,12,13,14,15],[pd.NA,pd.NA,pd.NA,pd.NA,pd.NA]]

df=pd.DataFrame(data,row,col)
df

      col1  col2  col3  col4  col5
row1     1     2     3  <NA>     5
row2     6  <NA>     8  <NA>    10
row3    11    12    13    14    15
row4  <NA>  <NA>  <NA>  <NA>  <NA>

In [21]:
df.dropna(how='any') #기본적으로 how는 'any', 한 값이라도 NA를 가진다면 해당 레이블 제거

     col1 col2 col3 col4 col5
row3   11   12   13   14   15

In [22]:
df.dropna(how='all') #'all'로 할경우 모든 값이 NA인 레이블만 삭제

     col1  col2 col3  col4 col5
row1    1     2    3  <NA>    5
row2    6  <NA>    8  <NA>   10
row3   11    12   13    14   15

**thresh**

thresh를 이용하여 정상값의 수를 보장할 수 있다.

예) thresh가 3일 경우 정상값이 3개미만인 경우에 대해서만 결측지 보정을 진행

In [25]:
df

      col1  col2  col3  col4  col5
row1     1     2     3  <NA>     5
row2     6  <NA>     8  <NA>    10
row3    11    12    13    14    15
row4  <NA>  <NA>  <NA>  <NA>  <NA>

In [24]:
df.dropna(thresh=3) #정상값이 3개미만인 경우에 대해서만 결측지 보정 진행

     col1  col2 col3  col4 col5
row1    1     2    3  <NA>    5
row2    6  <NA>    8  <NA>   10
row3   11    12   13    14   15

In [26]:
df.dropna(thresh=4)  #정상값이 4개미만인 경우에 대해서만 결측지 보정 진행

     col1 col2 col3  col4 col5
row1    1    2    3  <NA>    5
row3   11   12   13    14   15

**subset** 

subset에 리스트 형태의 값을 입력함으로써 결측치 제거를 수행할 레이블 지정

In [29]:
df

      col1  col2  col3  col4  col5
row1     1     2     3  <NA>     5
row2     6  <NA>     8  <NA>    10
row3    11    12    13    14    15
row4  <NA>  <NA>  <NA>  <NA>  <NA>

In [28]:
#col1,col2에 대해서 결측지가 있는 경우에만 삭제
df.dropna(subset=['col1','col2'])

     col1 col2 col3  col4 col5
row1    1    2    3  <NA>    5
row3   11   12   13    14   15

**inplace** 원본 수정

In [30]:
df.dropna(inplace=True)
df

     col1 col2 col3 col4 col5
row3   11   12   13   14   15