<a href="https://colab.research.google.com/github/ddannybb25/python/blob/main/n232_warm_up.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[When should I use a "groupby" in pandas?](https://www.youtube.com/watch?v=qy0fDqoMJx8)

In [1]:
import pandas as pd

In [3]:
drinks=pd.read_csv('http://bit.ly/drinksbycountry')

In [4]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [5]:
drinks.beer_servings.mean()

106.16062176165804

In [6]:
drinks.groupby('continent').beer_servings.mean()

continent
Africa            61.471698
Asia              37.045455
Europe           193.777778
North America    145.434783
Oceania           89.687500
South America    175.083333
Name: beer_servings, dtype: float64

In [8]:
drinks[drinks.continent=='Africa'].beer_servings.mean()

61.471698113207545

In [9]:
drinks[drinks.continent=='Europe'].beer_servings.mean()

193.77777777777777

In [10]:
drinks.groupby('continent').beer_servings.max()

continent
Africa           376
Asia             247
Europe           361
North America    285
Oceania          306
South America    333
Name: beer_servings, dtype: int64

In [12]:
drinks.groupby('continent').beer_servings.min()

continent
Africa            0
Asia              0
Europe            0
North America     1
Oceania           0
South America    93
Name: beer_servings, dtype: int64

In [13]:
#agg쓰면 한번에 여러 개를 볼 수 있음

drinks.groupby('continent').beer_servings.agg(['count','min','max','mean'])

               count  min  max        mean
continent
Africa            53    0  376   61.471698
Asia              44    0  247   37.045455
Europe            45    0  361  193.777778
North America     23    1  285  145.434783
Oceania           16    0  306   89.687500
South America     12   93  333  175.083333

In [14]:
drinks.groupby('continent').mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
Africa,61.471698,16.339623,16.264151,3.007547
Asia,37.045455,60.840909,9.068182,2.170455
Europe,193.777778,132.555556,142.222222,8.617778
North America,145.434783,165.739130,24.521739,5.995652
Oceania,89.687500,58.437500,35.625000,3.381250
South America,175.083333,114.750000,62.416667,6.308333

In [17]:

import matplotlib.pyplot as plt #임포트해도 코랩은 안됨 

%matplotlib #주피터 노트북일 경우만 가능
drinks.groupby('continent').mean().plot(kind='bar');

Using matplotlib backend: agg